.wrapper {
    // flexbox
    display: flex;
    flex-flow: column nowrap;
    > * {
        flex: 0 1 auto;
    }

    // styles
    > .enter {
        position: relative;
        padding: 20px 0 5px 0;
        > button {
            height: 44px;
            border: 0;
            color: #3e3e3e;
            outline: 0;
            float: left;
            cursor: pointer;
            transition:
                background-color .60s,
                background-position .40s;
            &:hover {
                transition:
                    background-color .15s,
                    background-position .10s;
                background-color: #e7e7e7 !important;
            }
        }
        > input {
            box-sizing: border-box;
            outline: 0;
            padding: 0 20px;
            background: #f7f9fa;
            height: 44px;
            border: 0;
            float: left;
        }
        > input + label {
            position: absolute;
            top: 20px;
            line-height: 44px;
            font-size: 18px;
            color: #d2d2d2;
            transition: 
                line-height .15s ease .15s,
                font-size .15s,
                color .15s,
                top .15s ease .15s,
                left .15s;
        }
        > input:focus + label {
            top: 0;
            left: 0 !important;
            line-height: 12px;
            font-size: 12px;
            color: #888;
            transition: 
                line-height .15s,
                top .15s,
                left .15s ease .10s;
        }
    }
    
    > span {
        font-size: 12px;
        color: orange;
    }
}