.wrapper {
    // flexbox
    display: flex;
    flex-flow: column nowrap;
    > {
        flex: 0 1 auto;
    }

    // styles
    position: relative;
    > input {
        outline: 0;
        margin: 20px 0 20px 0;
    }
    > input + label {
        position: absolute;
        top: 20px;
        background: burlywood;
    }
    > input:focus + label {
        top: 0;
        background: olive;
    }
    > span {
        position: absolute;
        bottom: 0;
    }
}