.iti_flag {
    &.iti_ac:before {
        width: 20px;
        height: 10px;
        background-position: 0px 0px;
    }

    &.iti_ad:before {
        width: 20px;
        height: 14px;
        background-position: -22px 0px;
    }

    &.iti_ae:before {
        width: 20px;
        height: 10px;
        background-position: -44px 0px;
    }

    &.iti_af:before {
        width: 20px;
        height: 14px;
        background-position: -66px 0px;
    }

    &.iti_ag:before {
        width: 20px;
        height: 14px;
        background-position: -88px 0px;
    }

    &.iti_ai:before {
        width: 20px;
        height: 10px;
        background-position: -110px 0px;
    }

    &.iti_al:before {
        width: 20px;
        height: 15px;
        background-position: -132px 0px;
    }

    &.iti_am:before {
        width: 20px;
        height: 10px;
        background-position: -154px 0px;
    }

    &.iti_ao:before {
        width: 20px;
        height: 14px;
        background-position: -176px 0px;
    }

    &.iti_aq:before {
        width: 20px;
        height: 14px;
        background-position: -198px 0px;
    }

    &.iti_ar:before {
        width: 20px;
        height: 13px;
        background-position: -220px 0px;
    }

    &.iti_as:before {
        width: 20px;
        height: 10px;
        background-position: -242px 0px;
    }

    &.iti_at:before {
        width: 20px;
        height: 14px;
        background-position: -264px 0px;
    }

    &.iti_au:before {
        width: 20px;
        height: 10px;
        background-position: -286px 0px;
    }

    &.iti_aw:before {
        width: 20px;
        height: 14px;
        background-position: -308px 0px;
    }

    &.iti_ax:before {
        width: 20px;
        height: 13px;
        background-position: -330px 0px;
    }

    &.iti_az:before {
        width: 20px;
        height: 10px;
        background-position: -352px 0px;
    }

    &.iti_ba:before {
        width: 20px;
        height: 10px;
        background-position: -374px 0px;
    }

    &.iti_bb:before {
        width: 20px;
        height: 14px;
        background-position: -396px 0px;
    }

    &.iti_bd:before {
        width: 20px;
        height: 12px;
        background-position: -418px 0px;
    }

    &.iti_be:before {
        width: 18px;
        height: 15px;
        background-position: -440px 0px;
    }

    &.iti_bf:before {
        width: 20px;
        height: 14px;
        background-position: -460px 0px;
    }

    &.iti_bg:before {
        width: 20px;
        height: 12px;
        background-position: -482px 0px;
    }

    &.iti_bh:before {
        width: 20px;
        height: 12px;
        background-position: -504px 0px;
    }

    &.iti_bi:before {
        width: 20px;
        height: 12px;
        background-position: -526px 0px;
    }

    &.iti_bj:before {
        width: 20px;
        height: 14px;
        background-position: -548px 0px;
    }

    &.iti_bl:before {
        width: 20px;
        height: 14px;
        background-position: -570px 0px;
    }

    &.iti_bm:before {
        width: 20px;
        height: 10px;
        background-position: -592px 0px;
    }

    &.iti_bn:before {
        width: 20px;
        height: 10px;
        background-position: -614px 0px;
    }

    &.iti_bo:before {
        width: 20px;
        height: 14px;
        background-position: -636px 0px;
    }

    &.iti_bq:before {
        width: 20px;
        height: 14px;
        background-position: -658px 0px;
    }

    &.iti_br:before {
        width: 20px;
        height: 14px;
        background-position: -680px 0px;
    }

    &.iti_bs:before {
        width: 20px;
        height: 10px;
        background-position: -702px 0px;
    }

    &.iti_bt:before {
        width: 20px;
        height: 14px;
        background-position: -724px 0px;
    }

    &.iti_bv:before {
        width: 20px;
        height: 15px;
        background-position: -746px 0px;
    }

    &.iti_bw:before {
        width: 20px;
        height: 14px;
        background-position: -768px 0px;
    }

    &.iti_by:before {
        width: 20px;
        height: 10px;
        background-position: -790px 0px;
    }

    &.iti_bz:before {
        width: 20px;
        height: 14px;
        background-position: -812px 0px;
    }

    &.iti_ca:before {
        width: 20px;
        height: 10px;
        background-position: -834px 0px;
    }

    &.iti_cc:before {
        width: 20px;
        height: 10px;
        background-position: -856px 0px;
    }

    &.iti_cd:before {
        width: 20px;
        height: 15px;
        background-position: -878px 0px;
    }

    &.iti_cf:before {
        width: 20px;
        height: 14px;
        background-position: -900px 0px;
    }

    &.iti_cg:before {
        width: 20px;
        height: 14px;
        background-position: -922px 0px;
    }

    &.iti_ch:before {
        width: 15px;
        height: 15px;
        background-position: -944px 0px;
    }

    &.iti_ci:before {
        width: 20px;
        height: 14px;
        background-position: -961px 0px;
    }

    &.iti_ck:before {
        width: 20px;
        height: 10px;
        background-position: -983px 0px;
    }

    &.iti_cl:before {
        width: 20px;
        height: 14px;
        background-position: -1005px 0px;
    }

    &.iti_cm:before {
        width: 20px;
        height: 14px;
        background-position: -1027px 0px;
    }

    &.iti_cn:before {
        width: 20px;
        height: 14px;
        background-position: -1049px 0px;
    }

    &.iti_co:before {
        width: 20px;
        height: 14px;
        background-position: -1071px 0px;
    }

    &.iti_cp:before {
        width: 20px;
        height: 14px;
        background-position: -1093px 0px;
    }

    &.iti_cr:before {
        width: 20px;
        height: 12px;
        background-position: -1115px 0px;
    }

    &.iti_cu:before {
        width: 20px;
        height: 10px;
        background-position: -1137px 0px;
    }

    &.iti_cv:before {
        width: 20px;
        height: 12px;
        background-position: -1159px 0px;
    }

    &.iti_cw:before {
        width: 20px;
        height: 14px;
        background-position: -1181px 0px;
    }

    &.iti_cx:before {
        width: 20px;
        height: 10px;
        background-position: -1203px 0px;
    }

    &.iti_cy:before {
        width: 20px;
        height: 14px;
        background-position: -1225px 0px;
    }

    &.iti_cz:before {
        width: 20px;
        height: 14px;
        background-position: -1247px 0px;
    }

    &.iti_de:before {
        width: 20px;
        height: 12px;
        background-position: -1269px 0px;
    }

    &.iti_dg:before {
        width: 20px;
        height: 10px;
        background-position: -1291px 0px;
    }

    &.iti_dj:before {
        width: 20px;
        height: 14px;
        background-position: -1313px 0px;
    }

    &.iti_dk:before {
        width: 20px;
        height: 15px;
        background-position: -1335px 0px;
    }

    &.iti_dm:before {
        width: 20px;
        height: 10px;
        background-position: -1357px 0px;
    }

    &.iti_do:before {
        width: 20px;
        height: 14px;
        background-position: -1379px 0px;
    }

    &.iti_dz:before {
        width: 20px;
        height: 14px;
        background-position: -1401px 0px;
    }

    &.iti_ea:before {
        width: 20px;
        height: 14px;
        background-position: -1423px 0px;
    }

    &.iti_ec:before {
        width: 20px;
        height: 14px;
        background-position: -1445px 0px;
    }

    &.iti_ee:before {
        width: 20px;
        height: 13px;
        background-position: -1467px 0px;
    }

    &.iti_eg:before {
        width: 20px;
        height: 14px;
        background-position: -1489px 0px;
    }

    &.iti_eh:before {
        width: 20px;
        height: 10px;
        background-position: -1511px 0px;
    }

    &.iti_er:before {
        width: 20px;
        height: 10px;
        background-position: -1533px 0px;
    }

    &.iti_es:before {
        width: 20px;
        height: 14px;
        background-position: -1555px 0px;
    }

    &.iti_et:before {
        width: 20px;
        height: 10px;
        background-position: -1577px 0px;
    }

    &.iti_eu:before {
        width: 20px;
        height: 14px;
        background-position: -1599px 0px;
    }

    &.iti_fi:before {
        width: 20px;
        height: 12px;
        background-position: -1621px 0px;
    }

    &.iti_fj:before {
        width: 20px;
        height: 10px;
        background-position: -1643px 0px;
    }

    &.iti_fk:before {
        width: 20px;
        height: 10px;
        background-position: -1665px 0px;
    }

    &.iti_fm:before {
        width: 20px;
        height: 11px;
        background-position: -1687px 0px;
    }

    &.iti_fo:before {
        width: 20px;
        height: 15px;
        background-position: -1709px 0px;
    }

    &.iti_fr:before {
        width: 20px;
        height: 14px;
        background-position: -1731px 0px;
    }

    &.iti_ga:before {
        width: 20px;
        height: 15px;
        background-position: -1753px 0px;
    }

    &.iti_gb:before {
        width: 20px;
        height: 10px;
        background-position: -1775px 0px;
    }

    &.iti_gd:before {
        width: 20px;
        height: 12px;
        background-position: -1797px 0px;
    }

    &.iti_ge:before {
        width: 20px;
        height: 14px;
        background-position: -1819px 0px;
    }

    &.iti_gf:before {
        width: 20px;
        height: 14px;
        background-position: -1841px 0px;
    }

    &.iti_gg:before {
        width: 20px;
        height: 14px;
        background-position: -1863px 0px;
    }

    &.iti_gh:before {
        width: 20px;
        height: 14px;
        background-position: -1885px 0px;
    }

    &.iti_gi:before {
        width: 20px;
        height: 10px;
        background-position: -1907px 0px;
    }

    &.iti_gl:before {
        width: 20px;
        height: 14px;
        background-position: -1929px 0px;
    }

    &.iti_gm:before {
        width: 20px;
        height: 14px;
        background-position: -1951px 0px;
    }

    &.iti_gn:before {
        width: 20px;
        height: 14px;
        background-position: -1973px 0px;
    }

    &.iti_gp:before {
        width: 20px;
        height: 14px;
        background-position: -1995px 0px;
    }

    &.iti_gq:before {
        width: 20px;
        height: 14px;
        background-position: -2017px 0px;
    }

    &.iti_gr:before {
        width: 20px;
        height: 14px;
        background-position: -2039px 0px;
    }

    &.iti_gs:before {
        width: 20px;
        height: 10px;
        background-position: -2061px 0px;
    }

    &.iti_gt:before {
        width: 20px;
        height: 13px;
        background-position: -2083px 0px;
    }

    &.iti_gu:before {
        width: 20px;
        height: 11px;
        background-position: -2105px 0px;
    }

    &.iti_gw:before {
        width: 20px;
        height: 10px;
        background-position: -2127px 0px;
    }

    &.iti_gy:before {
        width: 20px;
        height: 12px;
        background-position: -2149px 0px;
    }

    &.iti_hk:before {
        width: 20px;
        height: 14px;
        background-position: -2171px 0px;
    }

    &.iti_hm:before {
        width: 20px;
        height: 10px;
        background-position: -2193px 0px;
    }

    &.iti_hn:before {
        width: 20px;
        height: 10px;
        background-position: -2215px 0px;
    }

    &.iti_hr:before {
        width: 20px;
        height: 10px;
        background-position: -2237px 0px;
    }

    &.iti_ht:before {
        width: 20px;
        height: 12px;
        background-position: -2259px 0px;
    }

    &.iti_hu:before {
        width: 20px;
        height: 10px;
        background-position: -2281px 0px;
    }

    &.iti_ic:before {
        width: 20px;
        height: 14px;
        background-position: -2303px 0px;
    }

    &.iti_id:before {
        width: 20px;
        height: 14px;
        background-position: -2325px 0px;
    }

    &.iti_ie:before {
        width: 20px;
        height: 10px;
        background-position: -2347px 0px;
    }

    &.iti_il:before {
        width: 20px;
        height: 15px;
        background-position: -2369px 0px;
    }

    &.iti_im:before {
        width: 20px;
        height: 10px;
        background-position: -2391px 0px;
    }

    &.iti_in:before {
        width: 20px;
        height: 14px;
        background-position: -2413px 0px;
    }

    &.iti_io:before {
        width: 20px;
        height: 10px;
        background-position: -2435px 0px;
    }

    &.iti_iq:before {
        width: 20px;
        height: 14px;
        background-position: -2457px 0px;
    }

    &.iti_ir:before {
        width: 20px;
        height: 12px;
        background-position: -2479px 0px;
    }

    &.iti_is:before {
        width: 20px;
        height: 15px;
        background-position: -2501px 0px;
    }

    &.iti_it:before {
        width: 20px;
        height: 14px;
        background-position: -2523px 0px;
    }

    &.iti_je:before {
        width: 20px;
        height: 12px;
        background-position: -2545px 0px;
    }

    &.iti_jm:before {
        width: 20px;
        height: 10px;
        background-position: -2567px 0px;
    }

    &.iti_jo:before {
        width: 20px;
        height: 10px;
        background-position: -2589px 0px;
    }

    &.iti_jp:before {
        width: 20px;
        height: 14px;
        background-position: -2611px 0px;
    }

    &.iti_ke:before {
        width: 20px;
        height: 14px;
        background-position: -2633px 0px;
    }

    &.iti_kg:before {
        width: 20px;
        height: 12px;
        background-position: -2655px 0px;
    }

    &.iti_kh:before {
        width: 20px;
        height: 13px;
        background-position: -2677px 0px;
    }

    &.iti_ki:before {
        width: 20px;
        height: 10px;
        background-position: -2699px 0px;
    }

    &.iti_km:before {
        width: 20px;
        height: 12px;
        background-position: -2721px 0px;
    }

    &.iti_kn:before {
        width: 20px;
        height: 14px;
        background-position: -2743px 0px;
    }

    &.iti_kp:before {
        width: 20px;
        height: 10px;
        background-position: -2765px 0px;
    }

    &.iti_kr:before {
        width: 20px;
        height: 14px;
        background-position: -2787px 0px;
    }

    &.iti_kw:before {
        width: 20px;
        height: 10px;
        background-position: -2809px 0px;
    }

    &.iti_ky:before {
        width: 20px;
        height: 10px;
        background-position: -2831px 0px;
    }

    &.iti_kz:before {
        width: 20px;
        height: 10px;
        background-position: -2853px 0px;
    }

    &.iti_la:before {
        width: 20px;
        height: 14px;
        background-position: -2875px 0px;
    }

    &.iti_lb:before {
        width: 20px;
        height: 14px;
        background-position: -2897px 0px;
    }

    &.iti_lc:before {
        width: 20px;
        height: 10px;
        background-position: -2919px 0px;
    }

    &.iti_li:before {
        width: 20px;
        height: 12px;
        background-position: -2941px 0px;
    }

    &.iti_lk:before {
        width: 20px;
        height: 10px;
        background-position: -2963px 0px;
    }

    &.iti_lr:before {
        width: 20px;
        height: 11px;
        background-position: -2985px 0px;
    }

    &.iti_ls:before {
        width: 20px;
        height: 14px;
        background-position: -3007px 0px;
    }

    &.iti_lt:before {
        width: 20px;
        height: 12px;
        background-position: -3029px 0px;
    }

    &.iti_lu:before {
        width: 20px;
        height: 12px;
        background-position: -3051px 0px;
    }

    &.iti_lv:before {
        width: 20px;
        height: 10px;
        background-position: -3073px 0px;
    }

    &.iti_ly:before {
        width: 20px;
        height: 10px;
        background-position: -3095px 0px;
    }

    &.iti_ma:before {
        width: 20px;
        height: 14px;
        background-position: -3117px 0px;
    }

    &.iti_mc:before {
        width: 19px;
        height: 15px;
        background-position: -3139px 0px;
    }

    &.iti_md:before {
        width: 20px;
        height: 10px;
        background-position: -3160px 0px;
    }

    &.iti_me:before {
        width: 20px;
        height: 10px;
        background-position: -3182px 0px;
    }

    &.iti_mf:before {
        width: 20px;
        height: 14px;
        background-position: -3204px 0px;
    }

    &.iti_mg:before {
        width: 20px;
        height: 14px;
        background-position: -3226px 0px;
    }

    &.iti_mh:before {
        width: 20px;
        height: 11px;
        background-position: -3248px 0px;
    }

    &.iti_mk:before {
        width: 20px;
        height: 10px;
        background-position: -3270px 0px;
    }

    &.iti_ml:before {
        width: 20px;
        height: 14px;
        background-position: -3292px 0px;
    }

    &.iti_mm:before {
        width: 20px;
        height: 14px;
        background-position: -3314px 0px;
    }

    &.iti_mn:before {
        width: 20px;
        height: 10px;
        background-position: -3336px 0px;
    }

    &.iti_mo:before {
        width: 20px;
        height: 14px;
        background-position: -3358px 0px;
    }

    &.iti_mp:before {
        width: 20px;
        height: 10px;
        background-position: -3380px 0px;
    }

    &.iti_mq:before {
        width: 20px;
        height: 14px;
        background-position: -3402px 0px;
    }

    &.iti_mr:before {
        width: 20px;
        height: 14px;
        background-position: -3424px 0px;
    }

    &.iti_ms:before {
        width: 20px;
        height: 10px;
        background-position: -3446px 0px;
    }

    &.iti_mt:before {
        width: 20px;
        height: 14px;
        background-position: -3468px 0px;
    }

    &.iti_mu:before {
        width: 20px;
        height: 14px;
        background-position: -3490px 0px;
    }

    &.iti_mv:before {
        width: 20px;
        height: 14px;
        background-position: -3512px 0px;
    }

    &.iti_mw:before {
        width: 20px;
        height: 14px;
        background-position: -3534px 0px;
    }

    &.iti_mx:before {
        width: 20px;
        height: 12px;
        background-position: -3556px 0px;
    }

    &.iti_my:before {
        width: 20px;
        height: 10px;
        background-position: -3578px 0px;
    }

    &.iti_mz:before {
        width: 20px;
        height: 14px;
        background-position: -3600px 0px;
    }

    &.iti_na:before {
        width: 20px;
        height: 14px;
        background-position: -3622px 0px;
    }

    &.iti_nc:before {
        width: 20px;
        height: 10px;
        background-position: -3644px 0px;
    }

    &.iti_ne:before {
        width: 18px;
        height: 15px;
        background-position: -3666px 0px;
    }

    &.iti_nf:before {
        width: 20px;
        height: 10px;
        background-position: -3686px 0px;
    }

    &.iti_ng:before {
        width: 20px;
        height: 10px;
        background-position: -3708px 0px;
    }

    &.iti_ni:before {
        width: 20px;
        height: 12px;
        background-position: -3730px 0px;
    }

    &.iti_nl:before {
        width: 20px;
        height: 14px;
        background-position: -3752px 0px;
    }

    &.iti_no:before {
        width: 20px;
        height: 15px;
        background-position: -3774px 0px;
    }

    &.iti_np:before {
        width: 13px;
        height: 15px;
        background-position: -3796px 0px;
    }

    &.iti_nr:before {
        width: 20px;
        height: 10px;
        background-position: -3811px 0px;
    }

    &.iti_nu:before {
        width: 20px;
        height: 10px;
        background-position: -3833px 0px;
    }

    &.iti_nz:before {
        width: 20px;
        height: 10px;
        background-position: -3855px 0px;
    }

    &.iti_om:before {
        width: 20px;
        height: 10px;
        background-position: -3877px 0px;
    }

    &.iti_pa:before {
        width: 20px;
        height: 14px;
        background-position: -3899px 0px;
    }

    &.iti_pe:before {
        width: 20px;
        height: 14px;
        background-position: -3921px 0px;
    }

    &.iti_pf:before {
        width: 20px;
        height: 14px;
        background-position: -3943px 0px;
    }

    &.iti_pg:before {
        width: 20px;
        height: 15px;
        background-position: -3965px 0px;
    }

    &.iti_ph:before {
        width: 20px;
        height: 10px;
        background-position: -3987px 0px;
    }

    &.iti_pk:before {
        width: 20px;
        height: 14px;
        background-position: -4009px 0px;
    }

    &.iti_pl:before {
        width: 20px;
        height: 13px;
        background-position: -4031px 0px;
    }

    &.iti_pm:before {
        width: 20px;
        height: 14px;
        background-position: -4053px 0px;
    }

    &.iti_pn:before {
        width: 20px;
        height: 10px;
        background-position: -4075px 0px;
    }

    &.iti_pr:before {
        width: 20px;
        height: 14px;
        background-position: -4097px 0px;
    }

    &.iti_ps:before {
        width: 20px;
        height: 10px;
        background-position: -4119px 0px;
    }

    &.iti_pt:before {
        width: 20px;
        height: 14px;
        background-position: -4141px 0px;
    }

    &.iti_pw:before {
        width: 20px;
        height: 13px;
        background-position: -4163px 0px;
    }

    &.iti_py:before {
        width: 20px;
        height: 11px;
        background-position: -4185px 0px;
    }

    &.iti_qa:before {
        width: 20px;
        height: 8px;
        background-position: -4207px 0px;
    }

    &.iti_re:before {
        width: 20px;
        height: 14px;
        background-position: -4229px 0px;
    }

    &.iti_ro:before {
        width: 20px;
        height: 14px;
        background-position: -4251px 0px;
    }

    &.iti_rs:before {
        width: 20px;
        height: 14px;
        background-position: -4273px 0px;
    }

    &.iti_ru:before {
        width: 20px;
        height: 14px;
        background-position: -4295px 0px;
    }

    &.iti_rw:before {
        width: 20px;
        height: 14px;
        background-position: -4317px 0px;
    }

    &.iti_sa:before {
        width: 20px;
        height: 14px;
        background-position: -4339px 0px;
    }

    &.iti_sb:before {
        width: 20px;
        height: 10px;
        background-position: -4361px 0px;
    }

    &.iti_sc:before {
        width: 20px;
        height: 10px;
        background-position: -4383px 0px;
    }

    &.iti_sd:before {
        width: 20px;
        height: 10px;
        background-position: -4405px 0px;
    }

    &.iti_se:before {
        width: 20px;
        height: 13px;
        background-position: -4427px 0px;
    }

    &.iti_sg:before {
        width: 20px;
        height: 14px;
        background-position: -4449px 0px;
    }

    &.iti_sh:before {
        width: 20px;
        height: 10px;
        background-position: -4471px 0px;
    }

    &.iti_si:before {
        width: 20px;
        height: 10px;
        background-position: -4493px 0px;
    }

    &.iti_sj:before {
        width: 20px;
        height: 15px;
        background-position: -4515px 0px;
    }

    &.iti_sk:before {
        width: 20px;
        height: 14px;
        background-position: -4537px 0px;
    }

    &.iti_sl:before {
        width: 20px;
        height: 14px;
        background-position: -4559px 0px;
    }

    &.iti_sm:before {
        width: 20px;
        height: 15px;
        background-position: -4581px 0px;
    }

    &.iti_sn:before {
        width: 20px;
        height: 14px;
        background-position: -4603px 0px;
    }

    &.iti_so:before {
        width: 20px;
        height: 14px;
        background-position: -4625px 0px;
    }

    &.iti_sr:before {
        width: 20px;
        height: 14px;
        background-position: -4647px 0px;
    }

    &.iti_ss:before {
        width: 20px;
        height: 10px;
        background-position: -4669px 0px;
    }

    &.iti_st:before {
        width: 20px;
        height: 10px;
        background-position: -4691px 0px;
    }

    &.iti_sv:before {
        width: 20px;
        height: 12px;
        background-position: -4713px 0px;
    }

    &.iti_sx:before {
        width: 20px;
        height: 14px;
        background-position: -4735px 0px;
    }

    &.iti_sy:before {
        width: 20px;
        height: 14px;
        background-position: -4757px 0px;
    }

    &.iti_sz:before {
        width: 20px;
        height: 14px;
        background-position: -4779px 0px;
    }

    &.iti_ta:before {
        width: 20px;
        height: 10px;
        background-position: -4801px 0px;
    }

    &.iti_tc:before {
        width: 20px;
        height: 10px;
        background-position: -4823px 0px;
    }

    &.iti_td:before {
        width: 20px;
        height: 14px;
        background-position: -4845px 0px;
    }

    &.iti_tf:before {
        width: 20px;
        height: 14px;
        background-position: -4867px 0px;
    }

    &.iti_tg:before {
        width: 20px;
        height: 13px;
        background-position: -4889px 0px;
    }

    &.iti_th:before {
        width: 20px;
        height: 14px;
        background-position: -4911px 0px;
    }

    &.iti_tj:before {
        width: 20px;
        height: 10px;
        background-position: -4933px 0px;
    }

    &.iti_tk:before {
        width: 20px;
        height: 10px;
        background-position: -4955px 0px;
    }

    &.iti_tl:before {
        width: 20px;
        height: 10px;
        background-position: -4977px 0px;
    }

    &.iti_tm:before {
        width: 20px;
        height: 14px;
        background-position: -4999px 0px;
    }

    &.iti_tn:before {
        width: 20px;
        height: 14px;
        background-position: -5021px 0px;
    }

    &.iti_to:before {
        width: 20px;
        height: 10px;
        background-position: -5043px 0px;
    }

    &.iti_tr:before {
        width: 20px;
        height: 14px;
        background-position: -5065px 0px;
    }

    &.iti_tt:before {
        width: 20px;
        height: 12px;
        background-position: -5087px 0px;
    }

    &.iti_tv:before {
        width: 20px;
        height: 10px;
        background-position: -5109px 0px;
    }

    &.iti_tw:before {
        width: 20px;
        height: 14px;
        background-position: -5131px 0px;
    }

    &.iti_tz:before {
        width: 20px;
        height: 14px;
        background-position: -5153px 0px;
    }

    &.iti_ua:before {
        width: 20px;
        height: 14px;
        background-position: -5175px 0px;
    }

    &.iti_ug:before {
        width: 20px;
        height: 14px;
        background-position: -5197px 0px;
    }

    &.iti_um:before {
        width: 20px;
        height: 11px;
        background-position: -5219px 0px;
    }

    &.iti_un:before {
        width: 20px;
        height: 14px;
        background-position: -5241px 0px;
    }

    &.iti_us:before {
        width: 20px;
        height: 11px;
        background-position: -5263px 0px;
    }

    &.iti_uy:before {
        width: 20px;
        height: 14px;
        background-position: -5285px 0px;
    }

    &.iti_uz:before {
        width: 20px;
        height: 10px;
        background-position: -5307px 0px;
    }

    &.iti_va:before {
        width: 15px;
        height: 15px;
        background-position: -5329px 0px;
    }

    &.iti_vc:before {
        width: 20px;
        height: 14px;
        background-position: -5346px 0px;
    }

    &.iti_ve:before {
        width: 20px;
        height: 14px;
        background-position: -5368px 0px;
    }

    &.iti_vg:before {
        width: 20px;
        height: 10px;
        background-position: -5390px 0px;
    }

    &.iti_vi:before {
        width: 20px;
        height: 14px;
        background-position: -5412px 0px;
    }

    &.iti_vn:before {
        width: 20px;
        height: 14px;
        background-position: -5434px 0px;
    }

    &.iti_vu:before {
        width: 20px;
        height: 12px;
        background-position: -5456px 0px;
    }

    &.iti_wf:before {
        width: 20px;
        height: 14px;
        background-position: -5478px 0px;
    }

    &.iti_ws:before {
        width: 20px;
        height: 10px;
        background-position: -5500px 0px;
    }

    &.iti_xk:before {
        width: 20px;
        height: 15px;
        background-position: -5522px 0px;
    }

    &.iti_ye:before {
        width: 20px;
        height: 14px;
        background-position: -5544px 0px;
    }

    &.iti_yt:before {
        width: 20px;
        height: 14px;
        background-position: -5566px 0px;
    }

    &.iti_za:before {
        width: 20px;
        height: 14px;
        background-position: -5588px 0px;
    }

    &.iti_zm:before {
        width: 20px;
        height: 14px;
        background-position: -5610px 0px;
    }

    &.iti_zw:before {
        width: 20px;
        height: 10px;
        background-position: -5632px 0px;
    }

    &:before {
        content: '';
        box-shadow: 0 0 1px 0 #888;
        background-image: url("./flags.png");
        background-repeat: no-repeat;
        display: inline-block;
    }
}

.iti_flag.positionMenu {
    &:before  {
        position: absolute;
        top: 10px;
        left: 6px;
    }
}

.iti_flag.positionInput {
    &:before  {
        position: absolute;
        top: 0;
        left: 15px;
    }

    input {
        padding: 0 20px 0 45px;
    }
}