.renderBasicInput {
    // flexbox
    display: flex;
    align-items: center;
    > * {
        flex: 0 1 auto;
    }

    // styles
    height: 50px;
    padding: 0 6px;
    > span:nth-child(1) {
        width: 40px;
        color: #888;
        text-align: right;
        padding: 0 6px;
    }
}